.bg-e6e9ef {
  background-color: #e6e9ef;
}

.bg-333 {
  background-color: #333;
}

.bg-edf6ff {
  background-color: #edf6ff;
}

.bg-b9c9df80 {
  background-color: #b9c9df50;
}

.text-4c5c6b {
  color: #4c5c6b;
}
